<!--DOCTYPE html-->
<html lang="en">
	<head>

			<title>Nelisa's App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/freelancer.css">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Dropdown menu -->

		</head>
		<!-- Dropdown menu -->
  <body class="bg" background="/img/Wallpaper.jpg">
  <button class="Home-but"><a href="/">Nelisa's Spaza</a></button>
  <div id='cssmenu'>
  <ul>

          <li class='has-sub'><a href='/products'>Products</a>
              <!-- ul>
                  <li><a href='#'>Most popular product</a></li>
                  <li><a href='#'>Least popular product</a></li>
              </ul> -->
          </li>
          <li><a href='/productsCategories'>Categories</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Contact</a></li>
      </ul>
  </div>
	<div class="container">

    	{{{body}}}  
    </div>
  </body>

  
    <footer>
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>3481 Khayelitsha<br>site C,90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around eMaKasana!</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="customed-foo">
                <div class="col-lg-12">
                    Copyright © Nelisas_App 2015
                </div>
            </div>
        </div>
    </div>
     </footer>
    

</html>



